#top-footer {
	background-color: #2d485f;
}

#bottom-footer {
	background-color: #193046;
}
.smallest-footer-text {
	font-size: 0.8rem;
}
.medium-footer-text {
	font-size: 1.1rem;
	background-color: #2d485f;
	margin: 0;
}

#bg-image {
	background-image: url(../icon/logo_usitop_footer.svg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 2rem;
}

#background-logo-footer {
	opacity: 15%;
	justify-content: center;
}

.icon-13 {
	height: 13px;
	width: 13px;
}
