.page{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 70vw;
    margin-top: 3vh;
    text-align: justify;
    
}

@media (max-width: 600px) {
   
    .textbox{
        width: 90vw;
        overflow-x: scroll;
    }

   

  }