.page{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.textbox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 70vw;
    margin-top: 3vh;
    text-align: justify;
    
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: space-evenly;
}

.fig{
    width: 400px;
    height: 300px;
    background-color: beige;
}



@media (max-width: 600px) {
   
    .textbox{
        width: 90vw;
        overflow-x: scroll;
    }

    .galeria{
        width: 90vw;
    }

   

  }