
.page{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 70vw;
    margin-top: 3vh;
    text-align: justify;
    
}

.text-bold{
    font-weight: 800;
}

@media (max-width: 600px) {

    .page > h1{
        width: 90vw;
    }

    .textbox{
        width: 90vw;
        overflow-x: scroll;
    }

}